# ProjectHub AI Environment Template (.env.example)

DJANGO_SECRET_KEY=django-insecure-projecthub-ai-secret-key-development-mode-10-10
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,*.onrender.com

# PostgreSQL Connection String (Format: postgres://user:password@host:port/dbname)
DATABASE_URL=postgres://postgres:2@127.0.0.1:5432/projecthub_db

# Redis URL for Celery & WebSockets
REDIS_URL=redis://127.0.0.1:6379/0
